body.login-page {
  background-color: #554687;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, sans-serif;
}

.login-wrapper {
  display: flex;
  width: 100%;
  max-width: 950px;
  justify-content: center;
}

.welcome-section { flex: 1; color: white; text-align: center; padding: 40px; }

.login-card {
  flex: 0.8;
  background-color: #c5c1d7; 
  border-radius: 20px;
  padding: 40px;
  text-align: center;
  max-width: 400px;
}

.input-group { text-align: left; margin-bottom: 15px; }
.input-group input {
  width: 100%;
  background-color: #535671;
  border: none;
  border-radius: 25px;
  padding: 12px 20px;
  color: white;
  outline: none;
}

.btn-submit {
  background-color: #98ded9;
  border-radius: 25px;
  padding: 12px 40px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.social-login {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 25px;
}

.social-login a {
  transition: transform 0.2s;
  display: inline-block;
}

.social-login a:hover {
  transform: scale(1.1); /* Efeito de zoom ao passar o mouse */
}

.social-icon { height: 35px; width: 35px; object-fit: contain; }